<table class="table">
    <thead>
        <tr>
          <th> Article </th>
          <th> Prix </th>
          <th> Quantité </th>
          <th> Sous Total </th>
        </tr>
    </thead>
    <tbody id='article'>
    </tbody>
</table>

<p>Total : <span class="total">coucou </span>€</p>

<button id="confirm-command">Passer la commande</button>
