<table class="table">
    <thead>
        <tr>
          <th> Article </th>
          <th> Prix </th>
          <th> Quantité </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td id='product-name'></td><script>

</script>
        <td id='product-price'></td>
      </tr>
    </tbody>
</table>

<p>Sous total : <span class="subtotal"></span>€</p>

<button id="confirm-command">Passer la commande</button>
